doctype html
html(lang="en")
  head
    title Gus Diaz
    script(src='app.js')
    script(type='text/javascript').
      require('js/index.coffee')
      //only when commonjs
    link(href='app.css', rel='stylesheet')
  body
    block content
