doctype html
html(lang="es")
  head
    title Gus Díaz - Weather
    meta(charset='utf-8')
    // CSS Files
    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='manifest.json')
    link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5')
    link(href='weather.css', rel='stylesheet')
    block csslibs

  body
    block initial
    include ../shared/menu.pug
    block content

    // /.javascript files
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js')

    script(src='weather.js')
    block jslibs
